* {
  margin: 0;
  font-family: "Work Sans", sans-serif;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------- Banner --------------------------------------------------------------*/
.header {
  background: #fff8f3;
  background-image: url("../images/banner/banner2.png");
}
.banner {
  padding-top: 216px;
  padding-right: 230px;
  padding-bottom: 167px;
  text-align: right;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
  padding-left: 600px;
  margin-bottom: 24px;
}
.banner-description {
  color: #444343;
  font-size: 16px;
  line-height: 26px;
  padding-left: 800px;
  margin-bottom: 32px;
}
.btn-primary {
  color: #ffffff;
  background: #f15b22;
  height: 64px;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  padding: 20px 25px;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ Section 01 ------------------------------------------------------------*/
section {
  margin-top: 130px;
}
.failures {
  margin-left: 206px;
  margin-right: 322px;
  display: flex;
  gap: 80px;
}
.section-title {
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  margin-top: 170px;
  padding-right: 10px;
  margin-bottom: 24px;
}
.section-description {
  color: #444343;
  font-size: 16px;
  line-height: 26px;
  text-align: left;
  margin-bottom: 16px;
}
.section-list {
  color: #444343;
  font-size: 16px;
  margin-bottom: 8px;
}
.check {
  color: #00ff00;
  line-height: 26px;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ Section 02 ------------------------------------------------------------*/
.plans {
  margin-left: 230px;
  margin-right: 230px;
}
.section-title1 {
  color: #151414;
  font-weight: 700;
  font-size: 40px;
  text-align: center;
  margin-bottom: 50px;
}
.plans-list-container {
  display: flex;
  justify-content: space-between;
}
.plans-list {
  text-align: center;
}
.plans-list h4 {
  color: #151414;
  font-weight: 700;
  font-size: 30px;
  margin-bottom: 16px;
}
.plans-list p {
  color: #737272;
  font-weight: 500;
  font-size: 25px;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ Section 03 ------------------------------------------------------------*/
.frontend {
  margin-left: 322px;
  margin-right: 206px;
}
.html-container,
.css-container {
  display: flex;
  gap: 80px;
  justify-content: space-between;
  margin-bottom: 20px;
}
.html h3,
.css h3 {
  color: #151414;
  font-weight: 700;
  font-size: 24px;
  margin-left: 60px;
  margin-bottom: 20px;
}
.html .section-description,
.css .section-description {
  margin-left: 60px;
  text-align: justify;
}
.html-container img,
.css-container img {
  margin-top: 10px;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
/*------------------------------------------------------------ Section 04 ------------------------------------------------------------*/
.gradient {
  border: #ffffff solid;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  max-width: 930px;
  padding: 59px 64px;
  background-image: url("../images/watch.png"), linear-gradient(to right, rgb(241, 93, 34), rgba(241, 93, 34, 0));
  background-size: cover;
  background-blend-mode: soft-light;
}
.section-title2 {
  color: #ffffff;
  font-weight: 700;
  font-size: 40px;
  padding-right: 400px;
  margin-bottom: 24px;
}
.btn-primary1 {
  color: #f15b22;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  padding: 21px 36px;
  background: #ffffff;
}
/*------------------------------------------------------------------------------------------------------------------------------------*/
/*-------------------------------------------------------------- Footer --------------------------------------------------------------*/
footer {
  margin-top: 130px;
  background: #151414;
  padding: 130px 230px;
  display: flex;
  justify-content: space-between;
}
.footer-list1 h3 {
  color: #f8f8f8;
  font-weight: 700;
  font-size: 45px;
  margin-bottom: 16px;
}
.footer-list1 p {
  color: #ffffff;
  font-size: 16px;
  line-height: 26px;
  width: 485px;
  text-align: left;
  margin-bottom: 24px;
}
.image-container {
  display: flex;
  gap: 17px;
}
.footer-list2 h4 {
  color: #ffffff;
  font-weight: 600;
  font-size: 25px;
  margin-bottom: 31px;
}
.input-email {
  color: #f3f3f3;
  font-size: 18px;
  background: #151414;
  border: 1px solid #ffffff;
  border-radius: 8px;
  width: 280px;
  padding: 21px 21px;
  margin-bottom: 15px;
}
.input-btn {
  color: #f15b22;
  font-weight: 600;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  padding: 20px 36px;
  background: #ffffff;
}
